.recipes {
  background-color: #0a2750;
  background-image: url("/images/background_recipes.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  position: relative;
  flex-direction: column;
}

.recipes__title {
  margin-left: 80px;
  margin-top: 100px;
  margin-bottom: 24px;
  max-width: 580px;
  display: flex;
  font-family: "Inter", "arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}

.recipes__subtitle {
  margin-left: 80px;
  max-width: 438px;
  margin-top: 0;
  margin-bottom: 80px;
  display: flex;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
.recipes__videos {
  display: flex;
  border-left: 200px;
  margin-bottom: 215px;
  gap: 40px;
  justify-content: center;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
}

.recipes__iframe {
  border: none;
  width: 480px;
  height: 273px;
  margin-bottom: 24px;
}

.recipes__video-caption {
  font-family: "Inter", "arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
}
